-# = form_for @goods_item do |f|
-#   商品名 
-#   = f.text_field :name
-#   %br/
-#   価格
-#   = f.number_field :price
-#   %br/
-#   = f.fields_for :images do |i|
-#     = i.file_field :src
-#     %br/

-#   = f.submit
