.content

  %p= goods_item.name

  = link_to '商品詳細へ', goods_item_path(goods_item.id)
  
  %p
    = goods_item.selling_price
    円
  -# %p= goods_item.explanation
  -######## カテゴリー機能実装後調整 ########
  -# %p= goods_item.category_id
  -# %p= goods_item.brand
  -# %p= goods_item.condition_id
  -# %p= goods_item.shipping_fee_id
  -# %p= goods_item.province_id
  -# %p= goods_item.delivery_date_id
  -# %p= goods_item.delivery_way_id
  -# %p= goods_item.selling_price
  
  - goods_item.images.each do |image|
    = image_tag image.src.url
    
  -# = paginate(@goods_items)
