.search-conent
  .search-result
    .search-result__box
      .content
      =link_to goods_item_path(goods_item.id) do
        .image
        = image_tag goods_item.images[0].src.url, size: '160x160'
        %h5.name 
          = goods_item.name
        .price
          = goods_item  .selling_price
          円
          .likeIcon
            = icon('fas', 'star')

