.logo_wrap
  .logo
    = image_tag("logo.png", alt: "ロゴ")

.check
  商品を出品しました
  .check__back-btn
    = link_to "トップページへもどる", root_path, class: 'btn'

.repurchase
  .repurchase__back-btn
    = link_to 'さらに出品する', new_goods_item_path, class: 'exhibition-btn'
  