= render partial: 'errors'
= render partial: 'form'

-# = form_for @goods_item do |f|
-#   画像
-#   %br/
-#   = f.fields_for :images do |i|
-#     = i.file_field :src
-#     %br/
-#   商品名 
-#   = f.text_field :name
-#   %br/
-#   説明 
-#   = f.text_field :explanation
-#   %br/
-#   カテゴリー 
-#   = f.text_field :category
-#   %br/
-#   ブランド 
-#   = f.text_field :brand
-#   %br/
-#   商品の状態 
-#   = f.text_field :condition
-#   %br/
-#   配送料の負担 
-#   = f.text_field :shipping_fee
-#   %br/
-#   配送元の地域 
-#   = f.text_field :province
-#   %br/
-#   発送までの日数 
-#   = f.text_field :delivery_date
-#   %br/
-#   発送の方法
-#   = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :name
-#   %br/  
-#   価格
-#   = f.number_field :selling_price
-#   %br/
-#   状態（出品中） 
-#   = f.text_field :status
-#   %br/
-#   = f.submit

