.banner__inner
  %h2.banner__inner--title
    だれでもかんたん、人生を変えるフリマアプリ
  .banner__inner--text
    今すぐ無料ダウンロード！
  .banner__inner--btn
    %a{href: '#'}
      =image_tag 'btn-app.png', class: 'btn-app', size: '180x53'
    %a{href: '#'}
      =image_tag 'btn-google.png', class: 'btn-google', size: '180x53'