.footer__menue
  .footer__menue__contents
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content--head FURIMAについて
      %ul
        %li
          %a{href: '#'} 会社概要（運営会社）
        %li
          %a{href: '#'} プライバシーポリシー
        %li
          %a{href: '#'} FURIMA利用規約
        %li
          %a{href: '#'} ポイントに関する特約
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content__head FURIMAを見る
      %ul
        %li
          %a{href: '#'} カテゴリー一覧
        %li
          %a{href: '#'} ブランド一覧
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content__head ヘルプ＆ガイド
      %ul
        %li
          %a{href: '#'} FURIMAガイド
        %li
          %a{href: '#'} FURIMAロゴ利用ガイドライン
        %li
          %a{href: '#'} お知らせ
  .footer__menue__logo
    %a{href: '#'}
      =image_tag 'logo-white.png', size: '160x46'
    %p @ FURIMA