.header
  .header__inner
    .header__inner__main
      .header__inner__main__icon
        %a{href: '#'}
          =image_tag 'logo.png', class: 'furima-logo', size: '140x40'
      .header__inner__main__search-box
        %input.header__inner__main__search-box--input{:id => "searchInput", :name => "key", :placeholder => "キーワードから探す"}/
        .header__inner__main__search-box--search
          %a{href: '#'}
            =image_tag 'icon-search 1.png', class: 'search-icon', size: '19x19'
    .header__inner__navi
      %ul.leftLists
        %li.leftLists__category
          %script{ type: 'text/javascript', src: 'script.js'}
          %a{href: '#'} カテゴリー
          .tree
            %ul.categoryTree
              %li.categoryTree--item
                %a{id: 1, href: '#'} レディース
              %li.categoryTree--item
                %a{id: 2, href: '#'} メンズ
              %li.categoryTree--item
                %a{id: 3, href: '#'} ベビー・キッズ
              %li.categoryTree--item
                %a{id: 4, href: '#'} インテリア・住まい・小物
              %li.categoryTree--item
                %a{id: 5, href: '#'} 本・音楽・ゲーム
              %li.categoryTree--item
                %a{id: 6, href: '#'} おもちゃ・ホビー・グッズ
              %li.categoryTree--item
                %a{id: 7, href: '#'} コスメ・香水・美容
              %li.categoryTree--item
                %a{id: 8, href: '#'} 家電・スマホ・カメラ
              %li.categoryTree--item
                %a{id: 9, href: '#'} スポーツ・レジャー
              %li.categoryTree--item
                %a{id: 10, href: '#'} ハンドメイド
              %li.categoryTree--item
                %a{id: 11, href: '#'} チケット
              %li.categoryTree--item
                %a{id: 12, href: '#'} 自動車・オートバイ
              %li.categoryTree--item
                %a{id: 13, href: '#'} その他
            %ul.subcatTree
            %ul.itemTree
        %li.leftLists__bland
          %a{href: '#'} ブランド
      %ul.rightLists
        %li.rightLists__login
          %a{href: '#'} ログイン
        %li.rightLists__new
          %a{href: '#'} 新規会員登録