.warap.page_goods_confirm
  .header
    .header__logo
      mercari
  .main
    .main__title
      購入内容の確認
    .main__item
      .main__item__image
      .main__item__detail
        .main__item__detail__name
        .main__item__detail__price
          Nike ¥25,500
    .main__purchase-box
      .main__purchase-box__inner
        .main__purchase-box__inner__price
        .main__purchase-box__inner__point
        .main__purchase-box__inner__payment
          支払い方法
        .main__purchase-box__inner__delivery
          配送先
        .main__purchase-box__inner__form
          購入する
  .footer
    メルカリ利用規約


