.header
  .header__logo
    mercari
.main
  .main__title
    購入内容の確認
  .main__item
    .main__item__box
      .main__item__box__image
        = image_tag src="/assets/", size: "80x80"
      .main__item__box__detail
        .main__item__box__detail__name
          ❣️お値下げ中❣️☆NIKE ナイキ スニーカー☆　23cm
          .main__item__box__detail__price
            .main__item__box__detail__price__main
              ¥2,800 
            .main__item__box__detail__price__sub
              (税込)  送料込み
  .main__purchase-box
    .main__purchase-box__inner
      .main__purchase-box__inner__price
        .main__purchase-box__inner__price__title
          支払い金額
        .main__purchase-box__inner__price__amount
          ¥2,800
      .main__purchase-box__inner__point
        .main__purchase-box__inner__point__tag
        .main__purchase-box__inner__point__label
          ポイントを使用 (所持ポイント: P0)
      .main__purchase-box__inner__payment
        .main__purchase-box__inner__payment__title
          支払い方法
        .main__purchase-box__inner__payment__icon
          %i.fas.fa-plus-circle
          = icon('fas','fa-plus-circle',class: 'icon')
          登録してください
      .main__purchase-box__inner__delivery
        .main__purchase-box__inner__delivery__title
          配送先
        .main__purchase-box__inner__delivery__icon
          %i.fas.fa-plus-circle
          登録してください
      .main__purchase-box__inner__form
        .main__purchase-box__inner__form__btn
          購入する
.footer