.wrap.page_login.one_col
  .logo_wrap
    .logo
      = image_tag("logo.svg", alt: "ロゴ")
  .contents_box.mini
    %h2.content_ttl
      メールアドレスでログイン
  .form_wrap
    %form.form_inner
      %ul.field_box
        %li.field_list
          %input{type:'text', clsss:'', id:'',name:'email',placeholder:"メールアドレス"}
        %ll.field_list
          %input{type:'password', clsss:'', id:'',name:'password',placeholder:"パスワード"}
      %ul.btn_wrap
        %li.btn_style
          = link_to "#", class: '' do
            ログイン