/* ------------------------------ >>
  common 共通で使いまわせるstyle
 <<------------------------------ */
$c_white:#fff; /* fix */
$c_green:#3BCACE; /*fix FULIMA*/
$c_black:#333; /* fix mercari */
$c_red:#EA352D; /* fix mercari */
$c_orange:#f1880d;
$c_light_gray:#F5F5F5;/* fix mercari */
$c_light_blue:#0099e8;/* fix mercari */

$alert_orange: #F35500;

/*コンテンツ幅を設定するところ*/

$contents_box:700px; /*fix mercari 1column */
$contents_wide:1020px; /*fix mercari 2column */
$contents_mini:456px;/*fix mercari other */
* {
  box-sizing: border-box;
}
html {
    font-size: 66.66667%; /*fix mercari*/
    color:$c_black;
}
body {
    font-size: 14px; /*fix mercari*/
    font-size: 1.4rem; /*fix mercari*/
}


 .cf::after {/* flortを使う場合に親要素にcfクラス（clearfix）をつける */
  content: "";
  display: block;
  clear: both;
}
a {
  text-decoration: none; /* リンクボタンのアンダーラインは基本消しておく設定 */
  color:$c_light_blue;/*基本テキストリンク色*/
}
li {
  list-style: none;
}
input[type="button"]{
  border: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}

/*-------font-awesome -------*/
.fa,
.far,
.fal{
  font-family: "Font Awesome 5 Free";
}
/*------/ font-awesome ------*/

/*----------- btn -----------*/
.btn_wrap {
  padding: 25px 0;

  .btn_style {
    display: inline-block;
    & + .btn_style {
      margin-left: 20px;
    }

    a,
    input {
      color: $c_white;
      background: $c_green;
      cursor: pointer;
    }
  }
}
/*----------/ btn -----------*/


/*-------- contents ---------*/
.wrap {
  background:$c_light_gray;
}

.contents_box {
  width: $contents_box;
  margin: 0 auto;
  .inner {
    padding: 40px 0;
  }
}
.contents_box.wide{
  width: $contents_wide;
}
.contents_box.mini{
  width: $contents_mini;
}

/*-------/ contents ---------*/


/*-------- side_var ---------*/
.side_box{
  width: 280px;
  float: left;
  .side_nav{
    .nav_ttl{
      margin-bottom: 8px;
    }
    & + .side_nav {
      margin-top: 40px;
    }
    .menu{
      background: $c_white;
      position: relative;
    
      &-list{
        position: relative;
        display: block;
        a {
        padding: 16px;
        display: block;
        color: $c_black;
        font-weight: normal;
        }
      }
      
      &-list::after{
        content: "\f054";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right:10px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      &-list.on {
        background: #eee;
        font-weight: bold;
        &.on::after{
          color: #ccc;
        }
      }
      &-list + .menu_list {
        border-top: 1px solid #eee;
      }

    }
  }
}

/*-------/ side_var ---------*/


/*-------- page_form --------*/

.content_ttl{
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-size: 2.2rem;
    padding: 32px 0;
    background: $c_white;
}

.form {
  background: $c_white;
  padding: 40px;

  .error{
    color: $c_red;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px dotted;
  }
  .error_explanation {
    h2 {
      padding-bottom: 10px;
    }
    ul li {
      color: $c_red;
      margin-bottom: 30px;
      font-weight: bold;
    }
  }
  


  &__inner{
    width: 456px;
    margin: 0 auto;
    padding: 24px 0 0 0;

    .field {

      #set_2coluum{
        width: 100%;
        display: flex;

        .f_half {
          /*
          & + .f_half {
            padding-left: 10px;
          
          }*/
        }
        li + li {
          padding-left: 8px;
        }
      }
      #set_3coluum{
        display: flex;
        .f_trisection {
        }
      }

      &-list{
        display: block;

        .form_sub-ttl {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 1.5rem;
          border-bottom: 1px dotted #333;
          padding-bottom: 15px;
        }

        input,
        select{
          width: 100%;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          padding: 10px 16px 8px;
        }
        select {
          cursor: pointer;
        }
        & + .field-list {
          margin-top: 24px;
        }
        label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        }
        .attention {
        margin: 15px 0;
        font-size: 1.3rem;

          span {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            font-size: 1.6rem;
          }
        }
      }
    }
    .btn_wrap{
      .btn_style {
        width: 100%;
        a,
        input {
          width: 100%;
          height: 48px;
          background: $c_green;
          color: $c_white;
          font-size: 16px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          line-height: 1.5;
          display: block;
          text-align: center;
          border: none;
        }
      }
    }
  }
}


/*-------/ page_form --------*/



 /* ------------------------------ >>
  flash
 <<------------------------------ */

/* 使うかわからないけどフラッシュメッセージを使用した際のバリデのstyle */

.notification {
  .notice {
    background-color: $c_light_blue;
    color: $c_white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $c_white;
    text-align: center;
  }
}

/*----- one_column_page -----*/
.one_col {

  .logo_wrap {
    padding: 40px;

    .logo{
      width: 185px;
      margin: 0 auto;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}


/*----/ one_column_page -----*/

/*---------- header ---------*/
.header__menu {
  width: 100%;
  height: 110px;
  padding: 0 60px;
  background-color: $c_white;
  font-family: Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    background-color: $c_white;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
      }
      &__search-box {
        margin-left: auto;
        width: 100%;
        display: flex;
        &--input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
          background-color: #ffffff;
          border: 1px solid #333333;
          display: flex;
        }
        &--search {
          height: 35.6px;
          width: 36px;
          background-color: $c_green;
          cursor: pointer;
          padding: 8px;
        }
      }
    }
    &__navi {
      height: 32px;
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      .leftLists {
        position: relative;
        display: flex;
        list-style: none;
        &__category {
          text-decoration: none;
          padding: 0 30px 0 0;
          a{
            color: $c_black;
            text-decoration: none;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
          :hover {
            color:  #ffb340;
          }
        }
        &__bland {
          padding: 0 0 0 16px;
          a {
            color: #333;
            text-decoration: none;
          }
          :hover {
            color:  #ffb340;
          }
        }
      }
      .rightLists {
        margin-left: auto;
        display: flex;
        list-style: none;
        &__login {
          padding: 0 0 0 16px;
          a {
            color: $c_black;
            text-decoration: none;
          }
        }
        &__new {
          padding: 0 0 0 16px;
          a {
            color: $c_black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
/*---------/ header ---------*/


/*---------- footer ---------*/
.footer__menue {
  width: 100%;
  height: 355px;
  background-color: #272727;
  padding: 60px 0;
  color: $c_white;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1/3 * 100%);
      margin: 0 2% 0 0;
      &--head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          a {
            color: $c_white;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
          a:hover {
            text-decoration: underline;
            padding-bottom: 1px;
            display: inline-block;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    p {
      font-size: 14px;
    }
  }
}
/*---------/ footer ---------*/


/*--------- banner ---------*/
.banner {
  width: 100%;
  height: 360px;
  background-image: url(/images/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    color: $c_white;
    text-align: center;
    &--title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin-top: 13px;
    }
    &--btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 25px auto 0;
      a {
        :hover {
          opacity: 0.5;
        }
        :first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
/*---------/ banner ---------*/

/*------ exhibitionBtn ------*/
.exhibitionBtn {
  color: #ffffff;
  width: 120px;
  height: 116px;
  text-align: center;
  background-color: $c_green;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  font-size: 18px;
  &__text {
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 8px;
    margin-top: 5px;
  }
  &__icon {
    width: 60%;
  }
}

/*-----/ exhibitionBtn ------*/

/*-----/ bread-crumbs ------*/
.bread-crumbs {
  background-color: $c_white;
  width: 100%;
  border-top: 1px solid #eee;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding: 0 60px;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li {
      display: inline;
    }
  }
}
/*-----/ bread-crumbs ------*/
