.berad-crumbs {
  color: black;
}

.main {
  padding: 40px;
  &__box {
    background-color: #fff;
    padding: 24px 40px 40px;
    width: 700px;
    margin: 0 auto;
    &__name{
      font-size: 24px;
      
    }
  }
}