* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #fff;
  --main-color: #333;
}

.main {
  background-color: #f8f8f8;
  &__visual {
    width: 100%;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      height: 400px;
      margin: 0 auto;
      padding: 130px 0 0 0;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        &-app {
          margin-right: 10px;
          a:hover {
            opacity: 0.5;
          }
        }
        &-google {
          width: 180px;
          a:hover {
            opacity: 0.5;
          }
        }
      }
    }
    &__picture {
      position: absolute;
      top: 0;
      right: 210px;
    }
  }
  &__introduction {
    width: 100%;
    height: 660px;
    padding: 60px 20px;
    background-color: var(--main-bg-color);
    &__titles {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 40px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      list-style: none;
      justify-content: space-between;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-pict {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: var(--main-bg-color);
          }
        }
        &-text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &-explanation {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__middle {
    height: 400px;
    background-image: url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    background-size: cover;
    display: flex;
    align-items: center;
    &__contents {
      color: var(--main-bg-color);
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        a:hover {
          opacity: 0.5;
        }
        &-app {
          margin-right: 10px;
        }
        &-google {
          margin-right: 10px;
        }
      }
    }
  }
  &__features {
    width: 100%;
    height: 650px;
    padding: 60px 100px;
    background-color: var(--main-bg-color);
    .title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item-image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        .item-title {
          margin: 0 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item-explanation {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pickup {
    width: 100%;
    height: 100%;
    padding: 80px 0 0 ;
    background-color: #f8f8f8;
    &:last-child {
       padding-bottom: 80px;
    }
    .title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .display-box {
      .displayHead {
        height: 36px;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        color: #3CCACE;
        margin-top: 10px;
      }
      .displayLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        a:hover {
          opacity: 0.5;
        }
        .displayList {
          width: 220px;
          height: 245px;
          display: inline-block;
          float: left;
          a {
            text-decoration: none;
            background-color: var(--main-bg-color);
            display: inline-block;
            .displayList--image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              text-align: center;
            }
            .displayList--body {
              background-color: white;
              color: var(--main-color);
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .explanation {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  list-style: none;
                  .likeIcon {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}