/* ------------------------------ >>
  page_top add_ozaki
 <<------------------------------ */
.page_top {
  .main__page {
    background-color: #f8f8f8;
    &__visual {
      width: 100%;
      height: 560px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: image-url("bg-mainVisual-pict_pc.jpg");
      position: relative;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__content {
        max-width: 1280px;
        width: 100%;
        height: 400px;
        margin: 0 auto;
        padding: 130px 0 0 0;
        &__title {
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          line-height: 1.2;
          color: $c_white;
        }
        &__text {
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: $c_white;
          line-height: 1.77778;
          margin: 16px 0 0 0;
        }
        &__btn {
          display: flex;
          margin: 24px 0 0 0;
          &-app {
            margin-right: 10px;
            a:hover {
              opacity: 0.5;
            }
          }
          &-google {
            width: 180px;
            a:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    &__introduction {
      width: 100%;
      height: 660px;
      padding: 60px 20px;
      background-color: $c_white;
      &__titles {
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 40px;
        padding-bottom: 15px;
        position: relative;
        &::after {
          content: "";
          width: 70px;
          height: 4px;
          background-color: $c_green;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }
      &__lists {
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        justify-content: space-between;
        .list {
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &-pict {
            position: relative;
            margin-bottom: 20px;
            .number {
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: $c_green;
              color: $c_white;
            }
          }
          &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            span {
              color: $c_green;
            }
          }
          &-explanation {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
    &__middle {
      height: 400px;
      background-image: image-url("bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      background-size: cover;
      display: flex;
      align-items: center;
      &__contents {
        color: $c_white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        .title {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        .text {
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
        .btn {
          display: flex;
          a:hover {
            opacity: 0.5;
          }
          &-app {
            margin-right: 10px;
          }
          &-google {
            margin-right: 10px;
          }
        }
      }
    }
    &__features {
      width: 100%;
      height: 650px;
      padding: 60px 100px;
      background-color: $c_white;
      .title {
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        &::after {
          content: "";
          width: 70px;
          height: 4px;
          background-color: $c_green;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .items {
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .item {
          display: flex;
          flex-direction: column;
          width: calc(1/3 * 100%);
          text-align: center;
          padding: 0 20px;
          .item-image {
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
          }
          .item-title {
            margin: 0 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          .item-explanation {
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
    }
    &__pickup {
      width: 100%;
      height: 100%;
      padding: 80px 0 0 ;
      background-color: #f8f8f8;
      &:last-child {
        padding-bottom: 80px;
      }
      .title {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      .display-box {
        .displayHead {
          height: 36px;
          text-align: center;
          font-weight: bold;
          font-size: 23px;
          color: $c_green;
          margin-top: 10px;
        }
        .displayLists {
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: space-around;
          a:hover {
            opacity: 0.5;
          }
          .displayList {
            width: 220px;
            height: 245px;
            display: inline-block;
            a {
              text-decoration: none;
              background-color: $c_white;
              display: inline-block;
              .displayList--image {
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                text-align: center;
              }
              .displayList--body {
                background-color: white;
                color: $c_black;
                padding: 16px;
                .name {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .explanation {
                  font-size: 16px;
                  ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
                    .likeIcon {
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                    }
                  }
                  p {
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* ------------------------------ >>
  page_login add_kazoe
 <<------------------------------ */
.page_login {

  .form{
    padding: 0;
    .form__inner {
      padding: 40px;
    }
    .form_info-top {
      border-bottom:1px solid #eee;
      p {
        text-align: center;
      }
      .btn_wrap {
        padding: 15px 0 0 0;

        .btn_style a {
        background:$c_light_blue;
        }
      }
    }
  }

}

/* ------------------------------ >>
  page_regist add_kazoe
 <<------------------------------ */
.page_regist {
  padding-bottom: 40px;

  .field-list {
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }
  
    .attention {
      margin: 15px 0;
      font-size: 1.2rem;
      span {
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        font-size: 1.4rem;
      }
      p{
        line-height: 1.5;
      }
      .c_gray{
        color: #888;
      }
    }
    & + .field-list {
      margin-top: 32px;
    }

    #set_3coluum.birthday_select{
      li{
        display: inline-block;
        position: relative;
      }   
      li:after {
        position: absolute;
        bottom: 5px;
        right: -25px;
      }
      li + li {
        padding-left: 30px;
      }
      .year:after{
        content:"年";
      }
      .manth:after{
        content:"月";
      }
      .day:after{
        content:"日";
      }
    }
  
    .required:after,
    .option:after{
      padding: 5px;
      font-size: 1.3rem;
      color: $c_white;
    }
    .required:after {
      content:"必須";
      background: $c_red;
    }
    .option:after{
      content:"任意";
      background: #ccc;
    }
  }
}
/* ------------------------------ >>
  page_credit_card add_kazoe
 <<------------------------------ */

.page_credit_card {
  .card_wrap{
    display: flex;
    padding: 10px 0 0 0;
  
    li {
      width: 100%;
      img{
      display: block;
      height: 32px;
      }
      + li {
        margin-left: 10px;
      }
    }
  }
  #set_2coluum.birthday_select{
    li {
      position: relative;
      width: 132px;

      select {
        width: 100%;
      }
    }
    li + li {
      margin-left: 20px;
    }
    li::after{
      position: absolute;
      bottom: 5px;
      right: -20px;
    }
    .manth:after{
      content:"月";
    }
    .year:after{
      content:"年";
    }
  }
}



/* ------------------------------ >>
  page_my_page add_kazoe
 <<------------------------------ */

.page_my_page{
  .main_box {
    float: right;
    width: $contents_box;

    .profile{
      
      &__inner{
        height: 200px;
        background-image: url(user-bg.jpg);
        position: relative;

        .profile__detail {
          position: absolute;
          display: block;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          color: $c_black;

          &__inner{

            .photo{
              width: 60px;
              height: 60px;
              margin: 0 auto;
              img{
                display: block;
                width: 100%;
                border-radius: 100%;
              }
            }
            .user_name {
                text-align: center;
                display: block;
                font-weight: bold;
                padding: 10px 0;
            }
          }
        }
        .point{
          ul{
            text-align: center;
            li{
              display: inline-block;
              
              span{
                font-weight: bold;
              }
            }
            li + li {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .box_ttl {
      line-height: 72px;
      padding: 0 16px;
      background: #fafafa;
    }
    .tabs_wrap {
      margin-bottom: 40px;

      .tabs {
        li{
          float: left;
          width: 50%;
          text-align: center;
          font-weight: bold;
          line-height: 72px;
          background: #eee;
          cursor: pointer;
        }
        li.on{
          border-top: 2px solid $c_green;
          background: $c_white;
        }
      }
    }
    .tabs_box {
      background: $c_white;

      &__inner {
        display: none;
        .info {
          
          &-list{
            position: relative;
            line-height: 1.5;
            width: 100%;
            a {
              padding: 16px 40px 16px 68px;
              display: block;
              color: $c_black;
              font-weight: normal;

              .sentence{
                display: -webkit-box;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .date_time{
                color: #888;
                font-size: 1.3rem;
              }
              .date_time:before{
                content: "\f017";
                width: 16px;
                height: 16px;
              }
            }
          &::after{
            content: "\f054";
            position: absolute;
            top: 50%;
            right:10px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
          }

            &::before{
              content: "";
              width: 48px;
              height: 48px;
              background-image: url(logo_s.svg);
              position: absolute;
              top: 50%;
              left:10px;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
            }            
          }
          &-list + .info-list {
            border-top: 1px solid #eee;
          }
        }
       }
    }
    .tabs_box__inner.contents_on {
      display: block;
    }
  }
}

/* ------------------------------ >>
  page_goods_detail add_oikawa
 <<------------------------------ */
 /* ここのパンクズcssは共通部分なのでページごとでの記述はいずれ不要になります */
.bread-crumbs {
  background-color: $c_white;
  width: 100%;
  border-top: 1px solid #eee;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding: 0 60px;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li {
      display: inline;
    }
  }
}

.page_goods_detail{
  .show {
    background-color: $c_light_gray;
    .show-main {
      padding: 40px;
      margin: 0 auto;
      .contents_box {
        margin: 0 auto;
        padding: 0;
        .top-content {
          margin: 0;
          padding: 0;
          .goods-box {
            background-color: $c_white;
            padding: 24px 40px 40px;
            margin: 0;
            &__name {
              font-size: 24px;
              text-align: center;
              font-weight: bold;
            }
            &__photo {
              margin-top: 16px;
              ul {
                display: flex;
                li {
                  flex-direction: column;
                  width: 560px;
                  align-items: center;
                  margin: 0 auto;
                  padding: 0;
                  ul {
                    justify-content: center;
                    margin-top: 10px;
                    padding: 0;
                    li {
                      width: 25%;
                      margin: 0 10px 0 0;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      padding: 0;
                    }
                  }
                }
              }
            }
            &__price {
              margin: 24px 0 24px;
              display: flex;
              flex-direction: column;
              padding: 0;
              &__price {
                text-align: center;
                font-size: 46px;
                font-weight: bold;
                margin: 0 10px 0 ;
                text-align: center;
              }
              &__tax {
                font-size: 16px;
                margin-top: 10px;
                padding: 0;
                text-align: center;
              }
            }
            &__instruction {
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
              text-align: start;
            }
            &__table {
              margin-bottom: 20px;
              table {
                width: 100%;
                height: 375px;
                border-collapse: collapse;
                border: 1px solid $c_light_gray;
                a {
                  color: $c_green;
                }
                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: start;
                }
              }
            }
            &__optional-area {
              display: flex;
              justify-content: space-between;
              ul{
                margin: 10px 0 0;
                display: flex;
                padding: 0;
                a {
                  color: $c_green;
                  margin-right: auto;
                  padding: 6px 10px;
                  border: 1px solid $c_orange;
                  border-radius: 40px;
                }
              }
              ul{
                margin: 10px 0 0;
                display: flex;
                li {
                  font-size: 14px;
                  margin: 0;
                  padding: 0;
                  a {
                    padding: 6px 10px;
                    display: inline-block;
                    border: 1px solid #333;
                    border-radius: 4px;
                    color: $c_black;
                    font-size: 14px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .comment-box {
            padding: 24px;
            margin: 10px 0;
            background-color: $c_white;
            text-align: center;
            .comment-area {
              margin: 0;
              padding: 0;
              .new-comment { 
                width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid black;
              }
              .notes-memo {
                line-height:1.5;
                font-size: 14px;
                padding: 8px;
                margin: 10px 0;
                background-color: $c_light_gray;
                text-align: left;
              }
              .send-btn {
                width: 60%;
                height: 48px;
                line-height: 48px;
                margin: auto;
                background: $c_green;
                border: 1px solid $c_green;
                color: $c_white;
                font-size: 18px;
                border-radius: 100px;
                text-align: center;
              }
            }
          }
        }
        .links{
          // margin-top: 15px;
          // list-style: none;
          // text-decoration: none;
          color: $c_green;
          .previous-page {
            float: left;
          }
          .next-page {
            float: right;
          }
        }
        .same-category {
          a{
            width: 200px;
            display: block;
            margin: 50px 0 8px;
            color: $c_green;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            margin-right: auto;
            // float: left;
            // position: relative;
          }
        }
      }
    }
  }
}


 /* ------------------------------ >>
  page_goods_confirm add_tutumi
 <<------------------------------ */
 html {
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.header {
  text-align: center;
  height: 128px;
  background-color: #f5f5f5;
}

.main {
  background-color: $c_white;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding:0;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333333;
  &__title {
    font-size: 22px;
    padding: 32px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
  }
  &__item {
    border-bottom: 1px solid #f5f5f5;
    &__box {
      padding: 32px 16px;
      display: flex;
      position: relative;
      &__image {
        margin-left: 160px;
      }
      &__detail {
        &__name {
          font-size: 14px;
          position: absolute;
          top: 32px;
          left: 283px;
          width: 250px;
          text-align: left;
        }
        &__price {
          margin-top: 8px;
          display: flex;
          font-weight: 600;
          &__main {
            font-size: 15px;
          }
          &__sub {
            font-size: 12px;
            margin-left: 8px;
            margin-top: 2px;
          }
        }
      }
    }
  }
  &__purchase-box {
    &__inner {
      width: 343px;
      margin: 0 auto;
      &__price {
        display: flex;
        position: relative;
        margin-top: 32px;
        height: 20px;
        font-weight: 600;
        &__title {
          font-size: 18px;
          margin-top: 4px;
        }
        &__amount {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 24px;
        }
      }
      &__point {
          display: flex;
          padding: 24px 0;
          &__tag {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid #ccc;
            background: #ccc;
          }
          &__label {
            padding: 0 0 0 8px;
            font-size: 14px;
            margin-top: 2px;
            color: #888;
          }
      }
      &__payment {
        border-top: 1px solid #f5f5f5;
        font-size: 14px;
        padding: 32px 0;
        text-align: left;
        &__title {
          font-weight: 600;
          }
          &__icon {
            color: #0099e8;
            margin-top: 8px;
            }
      }
      &__delivery {
        border-top: 1px solid #f5f5f5;
        font-size: 14px;
        padding: 32px 0;
        text-align: left;
        &__title {
          font-weight: 600;
          }
        &__icon {
          color: #0099e8;
          margin-top: 8px;
          }
      }
      &__form {
        border-top: 1px solid #f5f5f5;
        padding-bottom: 48px;
        font-weight: 600;
        &__btn {
          border: 1px solid #888;
          background: #888;
          color: #fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          margin-top: 32px;
        }
      }
    }
  }
}
 



 /* ------------------------------ >>
  page_exhibition add_yoshinaga
 <<------------------------------ */
 .wrap.page_exhibition{
  background-color: var(--main-bg-color);
  width: 100%;
  margin: 0 auto;
  .contents_box{
    margin: 0 auto;
    width: 700px;
    background-color: var(--main-bg-color);
    &__goods-image{
      width: 700px;
      height: 300px;
      padding: 40px;
      background-color: #FFFFFF;
      border-bottom: var(--main-bg-color);
      margin-bottom: 2px;
      label{
        font-size: 14px;
        font-weight: 600;
      }
      span{
        background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
          border-radius: 2px;
          line-height: 1.4em;
          font-weight: 600;
          display: inline-block;
          height: 16px;
      }
      &__text{
        font-size: 14px;
        color: #333333;        
        margin: 16px 0 0;       
      }
      &__area{
        width: 620px;
        height: 150px;
        background-color: #f5f5f5;
        border: 1px dotted #ccc;
        margin-top: 16px;
        &__icon{
          font-size: 20px;
          text-align: center;
          line-height: 150px;
        }
        p{
          font-size: 12px;
        }
      }
    }
    &__goods{
      width: 700px;
      height: 416px;
      padding: 40px;
      background-color:#FFFFFF;
      margin-bottom: 2px;

      &__name{
        font-size: 14px;
        color:#333333;
        font-weight: 600;
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
          border-radius: 2px;
          line-height: 1.4em;
          font-weight: 600;
          display: inline-block;
          height: 16px;
        }
        input{
          width: 620px;
          height: 48px;
          font-size: 16px;
          padding: 0 18px;
          margin: 20px 0 50px;
        }
      }

      &__explain{
        font-size: 14px;
        color:#333333;
        font-weight: 600;
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
          border-radius: 2px;
          line-height: 1.4em;
          font-weight: 600;
          display: inline-block;
          height: 16px;
        }
        .goods_explain{
          width: 620px;
          height: 154px;
          margin: 16px 0 0;
          padding: 13px 16px;
        }
        textarea::placeholder{
          font-size: 16px;
          text-rendering: auto;
          text-align: start;

        }
        
        .word-count{
          font-size: 12px;
          color: #888888;
          margin: 16px 0 0;
          text-align: right;
        }
      }
    }
    &__detail{
      width: 700px;
      height: 444px;
      padding: 40px;
      margin-bottom: 2px;
      background-color: #FFFFFF;
      &__title{
        font-size: 14px;
        color: #888888;
        font-weight: 600;
        
      }
      &__category{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;
      }
         
      span{
        background-color: #ff0211;
        color: #fff;
        font-size: 12px;
        margin-left: 8px;
        padding: 0 4px;
        border-radius: 2px;
        line-height: 1.4em;
        font-weight: 600;
        display: inline-block;
        height: 16px;
      }
      
      .category_select{
        width: 620px;
        height: 48px;
        padding: 0 56px 0 16px;
        font-size: 16px;
        margin-top: 16px;
      }

      &__brand{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;
        .free_will{
          background-color: #bfbfbf;
          color:  #fff;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
          border-radius: 2px;
          line-height: 1.4em;
          font-weight: 600;
          display: inline-block;
          height: 16px;
        }
        input{
          width: 620px;
          height: 48px;
          font-size: 16px;
          padding: 0 18px;
          margin: 16px 0 0 ;
        }
      }
      
      &__sratus{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;
      }
      .status_select{
        width: 620px;
        height: 48px;
        padding: 0 56px 0 16px;
        font-size: 16px;
        margin-top: 16px;
      }
    }
    &__shipping{
      width: 700px;
      height: 444px;
      padding: 40px;
      margin-bottom: 2px;
      background-color:#FFFFFF;
      &__title{
        font-size: 14px;
        color: #888888;
        font-weight: 600;
      }
      &__burden{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;
      }
      span{
        background-color: #ff0211;
        color: #fff;
        font-size: 12px;
        margin-left: 8px;
        padding: 0 4px;
        border-radius: 2px;
        line-height: 1.4em;
        font-weight: 600;
        display: inline-block;
        height: 16px;
      }
      .shipping_select{
        width: 620px;
        height: 48px;
        padding: 0 56px 0 16px;
        font-size: 16px;
        margin-top: 16px;
      }
      &__area{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;

      }
      &__days{
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 36px 0 0;

      }
    }
    &__price{
      width: 700px;
      height: 270px;
      padding: 40px 40px 0;
      background-color: #FFFFFF;
      &__selling-price{
        p{
          width: 620px;
          height: 19px;
          color: #888888;
          font-size: 14px;
          padding: 0 0 24px;
        }
        &__input_form{
          font-size: 14px;
          color: #333333;
          font-weight: 600;
          margin: 16px 0 0;
          
        span.required{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
          border-radius: 2px;
          line-height: 1.4em;
          font-weight: 600;
          display: inline-block;
          height: 16px;
        }
        &__price_colum{
          text-align: right;
          }
          .mark{
            color: #333333;
          }

          .input_price{
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 285px;
            height: 48px;
            font-size: 18px;
            text-align: right;
            padding: 0 16px;
          }
      }
    }
      
      &__fee{
        width: 620px;
        height: 70px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #333;
        &_title{

        }

      }
      .contents_box__price__profit{
        width: 620px;
        height: 58px;
        padding: 12px 0 0;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #333;

      }
    }
    
    &__btn_wrap{
      width: 700px;
      background-color: #FFFFFF;
      text-align: center;
      .exhibition_btn{
        width: 360px;
        height: 48px;
        background-color: #EA352D;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: 600;
        padding: 0 24px;
        border: 1px solid transparent;
        border-radius:4px
                  
      }
      .save_btn{
        width: 360px;
        height: 48px;
        background-color: #cccccc;
        color: #222222;
        font-size: 17px;
        font-weight: 600;
        padding: 0 24px;
        border: 1px solid transparent;
        margin: 24px 0 24px 0;
        border-radius:4px  
        
      }

      p{
        width: 360px;
        height: 20px;
        margin: 0 auto;
        font-size: 14px;
      }

    }

    &__note{
      width: 700px;
      height: 100px;
      background-color: #FFFFFF;
      font-size: 12px;
      text-align: center;
        
    }
    
  }
}

// .footer {
//   width: 100%;
//   height: 220px;
//   padding: 40px 0 41px;
//   background-color: #f5f5f5;
//   ul{
//     display: flex;
//     justify-content: center;
//     list-style: none;  
//     li{
//       font-size: 12px;
//       margin: 16px 0 40px 16px;  
//     }
//   }
//   p{
//      margin: 0 auto;
//   }
// }


