
  #error_explanation{
    font-size: 14px;
    color: red;
    text-align: center;
    
  
    ul{
      margin: 15px;
    
      li{
        margin-top: 5px;
      }
    }
  }
  
  

  .re-enter {
    font-size: 20px;
    color:#3bcace;
    text-align: center;
    margin-bottom: 10px;
  }